.tree-container {
    width: 100%;
    height: 100%;

    .tree-root {
        .tree-links {
            fill: none;
            stroke: #4e4e4e;
            stroke-width: 1;
        }

        .tree-nodes {
            .tree-node {
                cursor: pointer;
            }
        }
    }
}
