/* global */
:root {
    background-color: #e5e9f080;
    font-family: "Poets Electra", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    position: relative;
    width: 100%;
    height: 100%;
}

#root {
    overflow: hidden auto;

    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #888;
        border-radius: 3px;
    }
}

img {
    -webkit-user-drag: none;
}

blockquote {
    position: relative;
    padding: 0 0 0 20px;
    margin: 0;
    font-size: 1.25em;

    &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 4px;
        height: 100%;
        border-radius: 2px;
        background-color: #2337ff;
    }
}

code {
    padding: 0.75rem;
    background-color: #101012;
    border-radius: 2px;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.5rem;
    font-family: 'JetBrains Mono', monospace !important;
    font-variant-ligatures: none !important;
    display: block;
}

hr {
    height: 2px;
    margin: 0;
    border: 0;
    background-image: repeating-linear-gradient(-45deg, #ddd, #ddd 4px, transparent 4px, transparent 8px);
}

ul {
    padding-left: 1rem;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #f9f9f9;
    cursor: pointer;
    transition: border-color 0.25s;

    &:hover {
        border-color: #646cff;
    }
}

/* layout */

nav {
    position: sticky;
    z-index: 10;
    top: 0;
    width: 100%;
    height: 78px;
    margin: 0;
    padding: 0 1em;
    background: white;
    box-shadow: 0 2px 8px rgba(15, 18, 25, 5%);
    display: flex;
    align-items: center;

    a {
        position: relative;
        height: 78px;
        padding: 0 0.5em;
        color: #0F1219;
        font-variant-caps: small-caps;
        text-decoration: none;
        display: inline-flex;
        align-items: center;

        &.active::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 4px;
            border-radius: 2px;
            background-color: #2337FF;
        }
    }
}

main {
    width: 720px;
    max-width: 100%;
    margin: 1.25rem auto;
    padding: 2rem 3rem;
    background-color: white;
    box-shadow: 0 0 20px #0000000d;
    white-space: pre-wrap;

    h1 {
        font-style: italic;
        text-align: center;
    }

    sub {
        color: #777777;
        font-size: 0.8rem;
    }

    blockquote, ul {
        white-space: initial;
    }

    .meta-section {
        margin: 1rem 0;
        font-size: 13px;
        font-family: Atkinson;
        text-align: center;
    }
}

.gallery-view {
    a {
        color: currentColor;
        text-decoration: none;

        &:hover {
            text-decoration: underline #2337ff;
            text-underline-offset: 0.25rem;
        }
    }
}

.post-view {
    a {
        color: #2337ff;
        text-decoration: underline #2337ff;
        text-underline-offset: 0.125rem;
    }
}

.index {
    font-size: 32px;
    font-style: italic;
}

.project-gallery {
    .description {
        color: #8F959E;
        font-size: 0.875rem;
    }

    .links {
        display: flex;
        align-items: center;

        a {
            font-size: 0.875rem;
        }
    }
}
