/* global */
:root {
    background-color: #e5e9f080;
    font-family: "Poets Electra", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    position: relative;
    width: 100%;
    height: 100%;
}

#root {
    overflow: hidden auto;

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #888;
        border-radius: 4px;
        cursor: pointer;
    }
}

img {
    max-width: 100%;
    -webkit-user-drag: none;
}

blockquote {
    position: relative;
    padding: 0 0 0 20px;
    margin: 0;
    font-size: 1.25em;

    &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 4px;
        height: 100%;
        border-radius: 2px;
        background-color: #2337ff;
    }
}

code {
    margin-inline: 0.25rem;
    padding: 2px 5px;
    background-color: #f0f2f9;
    border-radius: 2px;
    font-family: JetBrains Mono, monospace;
    font-variant-ligatures: none;
}

pre {
    padding: 0.75rem;
    background-color: #101012;
    border-radius: 2px;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.5rem;
    overflow: auto;

    &::-webkit-scrollbar {
        width: 12px;
        height: 12px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #888;
        border-radius: 2px;
        cursor: pointer;
    }

    code {
        all: unset;

        font-family: 'JetBrains Mono', monospace !important;
        font-variant-ligatures: none !important;
    }
}

hr {
    height: 2px;
    margin: 0;
    border: 0;
    background-image: repeating-linear-gradient(-45deg, #ddd, #ddd 4px, transparent 4px, transparent 8px);
}

ul {
    list-style: none;

    li {
        position: relative;
        padding-left: 1rem;

        &::before {
            content: "•";
            position: absolute;
            left: 0;
        }
    }
}

ol {
    list-style: none;
    counter-reset: ol-counter;

    li {
        position: relative;
        padding-left: 1rem;
        counter-increment: ol-counter;

        &::before {
            content: counter(ol-counter) ".";
            position: absolute;
            left: 0;
        }
    }
}

table {
    /* github table style */
    border-color: #808080;
    border-spacing: 0;
    border-collapse: collapse;

    tr {
        border-top: solid 1px #d0d7deb3;
        background-color: white;

        &:nth-child(2n) {
            background-color: #f6f8fa;
        }
    }

    th {
        font-weight: 600;
    }

    th, td {
        padding: 6px 13px;
        border: solid 1px #d0d7de;
    }
}

button {
    padding: 0.6rem 1.2rem;
    border-radius: 8px;
    border: 1px solid transparent;
    background-color: #f9f9f9;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;

    &:hover {
        border-color: #646cff;
    }
}

/* layout */

nav {
    position: sticky;
    z-index: 10;
    top: 0;
    width: 100%;
    height: 78px;
    margin: 0;
    padding: 0 1rem;
    background: white;
    box-shadow: 0 2px 8px rgba(15, 18, 25, 5%);
    display: flex;
    align-items: center;

    .navbar {
        margin: 0 24px;
        flex: 1;
        overflow: auto hidden;
        white-space: nowrap;

        &::-webkit-scrollbar {
            height: 4px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #ccc;
            border-radius: 2px;
        }
    }

    a {
        position: relative;
        height: 78px;
        padding: 0 0.5rem;
        color: #0F1219;
        font-variant-caps: small-caps;
        text-decoration: none;
        display: inline-flex;
        align-items: center;

        &.active {
            color: #2337ff;

            &::before {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 4px;
                border-radius: 2px;
                background-color: #2337FF;
            }
        }
    }

    .player {
        font-size: 14px;
        text-decoration: underline;
        text-underline-offset: 4px;
        display: flex;
        align-items: center;

        span {
            margin-left: 4px;
        }
    }
}

main {
    width: 720px;
    max-width: 100%;
    margin: 1.25rem auto;
    padding: 2rem 3rem;
    background-color: white;
    box-shadow: 0 0 20px #0000000d;
    white-space: pre-wrap;

    h1 {
        font-style: italic;
        text-align: center;
    }

    sub {
        color: #8F959E;
        font-size: 0.8rem;
    }

    blockquote, ul {
        white-space: initial;
    }

    .meta-section {
        margin: 1rem 0;
        font-size: 13px;
        font-family: Atkinson;
        text-align: center;
    }
}

.gallery-view {
    a.operate-button {
        text-decoration: none;
    }

    a:not(.operate-button) {
        color: currentColor;
        text-decoration: underline transparent;
        text-underline-offset: 0.25rem;
        transition: text-decoration 0.25s;

        &:hover {
            text-decoration: underline #2337ff;
        }
    }

    .filter-section {
        margin-bottom: 1rem;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;

        button {
            margin-left: 0.5rem;
        }
    }

    .operate-button {
        margin-right: 0.5rem;
        padding-inline: 0.5rem;
        border: solid 1px transparent;
        border-radius: 0.25rem;
        background-color: #f9f9f9;
        color: #4e4e4e;
        font-size: 0.875rem;
        cursor: pointer;
        transition: border-color 0.25s;
        display: flex;
        align-items: center;

        span {
            margin-left: 0.25rem;
        }

        &:hover {
            border-color: #4e4e4e;
        }
    }

    li:not(:first-child) {
        margin-top: 0.25rem;
    }
}

.post-view {
    a {
        color: #2337ff;
        text-decoration: underline #2337ff;
        text-underline-offset: 0.125rem;
    }
}

.index {
    font-size: 32px;
    font-style: italic;
    text-align: center;
}

.prose-gallery {
    .statistic-block {
        margin-bottom: 1rem;
        padding: 0.5rem 1rem;
        background-color: #f0f2f9;

        .statistic-item {
            cursor: pointer;

            &:hover {
                background-color: #e5e9f0;
            }

            .title {
                font-variant-caps: small-caps;
            }
        }
    }

    .prose-item {
        display: flex;
        align-items: center;

        .title {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .date {
            margin-left: 8px;
            color: #8f959e;
            font-size: 13px;
            line-height: 13px;
        }
    }
}

.project-gallery {
    .description {
        color: #8f959e;
        font-size: 0.875rem;
    }

    .links {
        margin-top: 0.25rem;
        display: flex;
        align-items: center;
    }
}
