.tree-container {
    width: 100%;
    height: 100%;

    .tree-root {
        .tree-links {
            .tree-link {
                fill: none;
                stroke: #DFDFDF;
                stroke-width: 1;
            }
        }

        .tree-nodes {
            .tree-node {
                cursor: pointer;

                circle {
                    fill: white;
                    stroke: #707070;
                    stroke-width: 1;
                }

                text {
                    font-size: 12px;
                }

                a {
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            .tree-node-1 {
                text {
                    font-size: 16px;
                    font-variant-caps: all-small-caps;
                }
            }
        }
    }
}
